{% extends "main/base.html" %}

{% load static %}

{% block main %}
<!-- Contenu principal -->
<div class="content content-wrapper">
    <div class="about-me">
        <h1>À propos de moi</h1>
        <p>
            Bonjour et bienvenue sur mon site ! Je suis Augustin Sandé, un développeur web full stack basé au Bénin. Mon parcours professionnel est marqué par une riche expérience de plus de dix ans dans le domaine du design graphique, suivie d'une transition réussie vers le développement web.
        </p>
        <p>
            Initialement formé en conception de supports imprimés, j'ai travaillé pendant une décennie comme salarié avant de me lancer en freelance pendant deux ans. En tant que graphiste print et web, j'ai acquis une solide expérience en design visuel, ce qui a nourri ma passion pour la création numérique et le webdesign.
        </p>
        <p>
            En 2019, j'ai décidé de me réorienter vers le développement web, attiré par les possibilités infinies qu'offre la programmation. J'ai plongé dans l'apprentissage des technologies front-end et back-end, et j'ai découvert une véritable passion pour le développement de sites web et d'applications. Aujourd'hui, je travaille en tant que développeur full stack, utilisant des technologies modernes comme Django, React, et Node.js pour créer des solutions web robustes et efficaces.
        </p>
        <p>
            Mon objectif actuel est de collaborer avec des entreprises innovantes à travers le monde. Je suis particulièrement intéressé par des opportunités en Amérique du Nord, notamment au Canada et aux États-Unis, où je pourrais mettre à profit mes compétences pour des projets de grande envergure. Mon ambition est de contribuer à des projets d'envergure internationale et de collaborer avec des équipes de talents diversifiés.
        </p>
        <p>
            En parallèle de mon travail, je suis passionné par l'intelligence artificielle et la programmation en Python. J'explore continuellement les dernières avancées dans ces domaines et j'intègre ces technologies dans mes projets pour créer des solutions intelligentes et innovantes.
        </p>
        <p>
            J'ai également lancé ce blog pour partager mes connaissances et mes découvertes avec la communauté. Vous y trouverez des articles sur les dernières tendances en développement web, des tutoriels pratiques, et des réflexions sur l'intelligence artificielle. Mon objectif est de fournir des ressources utiles et de contribuer à l'apprentissage continu des passionnés de technologie.
        </p>
        <p>
            Si vous êtes intéressé par une collaboration ou si vous souhaitez discuter de vos projets, n'hésitez pas à me contacter. Je suis toujours ouvert aux nouvelles opportunités et aux échanges enrichissants. Merci de visiter mon site, et j'espère que vous trouverez les informations et les ressources que vous recherchez.
        </p>
    </div>
</div>
{% endblock %}
