{% extends "main/base.html" %}

{% load static %}

{% block main %}
<!-- Contenu principal -->
<div class="content content-wrapper">
    <div class="post-list">
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-meta">Publié le {{ post.created_at|date:"d F Y" }}</p>
            <p class="post-summary">{{ post.description|truncatewords:30 }}</p>
            <div class="tags">
                {% for tag in post.tags.all %}
                    <a href="#">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <a href="{% url 'article' post.slug %}">Continuer la lecture</a>
        </div>
        <hr class="post-divider">
        {% empty %}
        Aucun Blog
        {% endfor %}
    </div>
</div>
{% endblock %}
