{% extends "main/base.html" %}

{% load static %}

{% block main %}
<!-- Contenu principal -->
<div class="content content-wrapper">
    <div class="row">
    <div class="col-md-6">
            <h2>Contactez-nous</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

        </div>
        <div class="col-md-6">
            <h4>Informations de Contact</h4>
            <ul class="list-unstyled">
                <li class="p-4 "><strong class="text-primary"> Email:</strong> {{ site_info.contact_email }}</li>
                <li class="p-4 "><strong class="text-primary"> Téléphone:</strong> {{ site_info.phone_number }}</li>
                <li class="p-4 "><strong class="text-primary"> Adresse:</strong> {{ site_info.postal_address }}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
